.nav-container {
    text-align: center;
    height: 100px;
    display: flex;
}

.emtyContainer1{
  width: 20%;
}

.content-container{
  text-align: center;
  display: flex;
  width: 80%;
}

.emtyContainer2{
  width: 20%;
}

.headerTitle {
    margin: auto;
    display: inline-block;
    position: relative;
}

.nav-combine{
    margin: auto;
    position: relative;
}

.nav-container-sub {
    margin: auto;
    position: relative;
    right: -50%;
}

.nav-item.title {
    padding-left: 10px;
    font-size: 30px;
    position: relative;
    top: 0px;
    left: -50%;
}

.nav-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 20px;
}

.nav-link {
    text-decoration: none;
    font-weight: normal;
    color: black;
    transition: font-weight 0.3s ease;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-container-sub {
    margin-top: 50px;
}
